In [117]:
import pandas as pd
import numpy as np

In [118]:
df_train=pd.read_csv("trainKNN.txt",header=None,names=['Id','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of glass'])
df_train.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

In [119]:
df_test=pd.read_csv("testKNN.txt",header=None,names=['Id','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of glass'])
df_test.head()

,Id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.0,0.17,1
1,69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.0,0.16,1
2,70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.0,0.03,1
3,144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.0,0.00,2
4,145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.0,0.24,2

In [120]:
y_train=df_train['Type of glass'].values
X_train=df_train.iloc[:,1:-1].values
y_test=df_test['Type of glass'].values
X_test=df_test.iloc[:,1:-1].values

In [121]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [122]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i)
  knn.fit(X_train,y_train)
  print("K value  : " , i, " train score : ", knn.score(X_train,y_train) , " cv score : ", np.mean(cross_val_score(knn, X_train, y_train, cv=5)))

K value  :  1  train score :  1.0  cv score :  0.6380769230769231
K value  :  2  train score :  0.8418367346938775  cv score :  0.6585897435897436
K value  :  3  train score :  0.8520408163265306  cv score :  0.6738461538461538
K value  :  4  train score :  0.7959183673469388  cv score :  0.6687179487179487
K value  :  5  train score :  0.8010204081632653  cv score :  0.6482051282051282
K value  :  6  train score :  0.7806122448979592  cv score :  0.6634615384615384
K value  :  7  train score :  0.7346938775510204  cv score :  0.6330769230769231
K value  :  8  train score :  0.7551020408163265  cv score :  0.6382051282051282
K value  :  9  train score :  0.7244897959183674  cv score :  0.6432051282051281
K value  :  10  train score :  0.7142857142857143  cv score :  0.6432051282051282
K value  :  20  train score :  0.6938775510204082  cv score :  0.5769230769230769
K value  :  50  train score :  0.6224489795918368  cv score :  0.4641025641025641

In [123]:
#KNN using Squared Euclidean distance
knn = KNeighborsClassifier(n_neighbors=3,metric='sqeuclidean')
knn.fit(X_train,y_train)
y_pred_sqe=knn.predict(X_test)
knn.score(X_test,y_test)

0.6111111111111112

In [124]:
#ROC score for KNN using Squared Euclidean distance
acc_sqe = roc_auc_score(y_test,knn.predict_proba(X_test),multi_class='ovr')
acc_sqe

0.8666666666666666

In [125]:
#KNN using Manhattan distance
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3,metric='manhattan')
knn.fit(X_train,y_train)
y_pred_ma=knn.predict(X_test)
knn.score(X_test,y_test)

0.6111111111111112

In [126]:
#ROC score for KNN using Squared Euclidean distance
from sklearn.metrics import roc_auc_score
acc_ma = roc_auc_score(y_test,knn.predict_proba(X_test),multi_class='ovr')
acc_ma

0.8555555555555555

In [127]:
#Scikit-Learn Classification Report for Squared Euclidean distance
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_sqe, target_names=['1','2','3','5','6','7']))

              precision    recall  f1-score   support

           1       0.75      1.00      0.86         3
           2       0.38      1.00      0.55         3
           3       0.00      0.00      0.00         3
           5       1.00      0.33      0.50         3
           6       1.00      0.33      0.50         3
           7       0.75      1.00      0.86         3

    accuracy                           0.61        18
   macro avg       0.65      0.61      0.54        18
weighted avg       0.65      0.61      0.54        18

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [128]:
#Scikit-Learn Classification Report for Manhattan distance
print(classification_report(y_test, y_pred_ma, target_names=['1','2','3','5','6','7']))

              precision    recall  f1-score   support

           1       0.50      1.00      0.67         3
           2       0.33      0.67      0.44         3
           3       0.00      0.00      0.00         3
           5       1.00      0.67      0.80         3
           6       1.00      0.33      0.50         3
           7       1.00      1.00      1.00         3

    accuracy                           0.61        18
   macro avg       0.64      0.61      0.57        18
weighted avg       0.64      0.61      0.57        18

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))